{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <legend><h4 style = "text-align: center;">Name: Shravan Kumar Gottala</h4></legend>
		<legend><h4 style = "text-align: center;">Email: shravankumar.gottala@hotmail.com</h4></legend>
		<legend><h4 style = "text-align: center;">Phone: +91 9533098819</h4></legend>
		<legend><h4 style = "text-align: center;"> You Can Find Me On:<a href="https://www.linkedin.com/in/shravan-kumar-gottala-03914320/">LinkedIn</a>,<a href="https://github.com/shravankumargottala">GitHub</a></h4></legend>
	</div>
{% endblock content %}
