<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML Hyd Flat Price Prediction API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="desi.css">

<script>
function checkform() {
    if( document.flat_form.car_ar.value > document.flat_form.sup_ar.value) {
        alert("Plese enter the carpet value is less than are equal to super area");
		$('#carpetid').val('');
        return false;
    }
	if( document.flat_form.balcid.value > document.flat_form.bedid.value) {
        alert("Plese enter the no of balconies is less than are equal to no of bed rooms");
		$('#balcid').val('');
        return false;
    }
	if( document.flat_form.poojaid.value > document.flat_form.bedid.value) {
        alert("Plese enter the no of pooja rooms is less than are equal to no of bed rooms");
		$('#poojaid').val('');
        return false;
    }
	if( document.flat_form.bathid.value > document.flat_form.bedid.value) {
        alert("Plese enter the no of bath rooms is less than are equal to no of bed rooms");
		$('#bathid').val('');
        return false;
    }
	if( document.flat_form.flrid.value > document.flat_form.tflrid.value) {
        alert("Plese enter the no of floors is less than the total floors");
		$('#flrid').val('');
        return false;
    }
}
</script>
</head>

<body>

 <div class="container">
   <div class="jumbotron" style="background-color: #4e9fb1;">
        <h1>Predict Hyderabad Flat/Apartment Price Analysis</h1><br>
      
     <!-- Main Input For Receiving Query to our ML -->
    <form name = "flat_form" action="{{ url_for('flat_predict')}}"method="post">
      
      
      <div class="form-group">
        <lable>No of Bedrooms :</lable>
        <input type="text" id ="bedid" name="no_bed" placeholder="eg: 1,2,3" required="required" />
      </div>
	  <div class="form-group">
        <lable>No of Bathrooms :</lable>
        <input type="text" id ="bathid" name="no_bath" placeholder="eg: 0,1,2" required="required" />
      </div>
	  <div class="form-group">
        <lable>No of Balconies :</lable>
        <input type="text" id ="balcid" name="no_balc" placeholder="eg: 0,1,2" required="required" />
      </div>
	  <div class="form-group">
        <lable>No of Poojarooms :</lable>
        <input type="text" id ="poojaid" name="no_pooja" placeholder="eg: 0,1,2" required="required" />
      </div>
	  <div class="form-group">
        <lable>Super Area( in sqrft) :</lable>
        <input type="text" id ="ex2" name="sup_ar" placeholder="eg: 900,1100" required="required" />
      </div>
	  <div class="form-group">
        <lable>Carpet Area( in sqrft) :</lable>
        <input type="text" id ="carpetid" name="car_ar" placeholder="eg: 800,1000" required="required" />
      </div>
	  <div class="form-group">
        <lable>Floor Number :</lable>
        <input type="text" id ="flrid" name="flr_no" placeholder="eg: 0,1, 2" required="required" />
      </div>
	  <div class="form-group">
        <lable>Total Floors :</lable>
        <input type="text" id ="tflrid" name="total_flr_no" placeholder="eg: 0,1, 2" required="required" />
      </div>
	  <div class="form-group">
        <lable>Furnishing Status :</lable>
         <select name= "furn_stat" method="GET" action="/">
            {% for fu in Furn_Uniq %}
               <option value= "{{fu}}" SELECTED>{{fu}}</option>"
            {% endfor %}
         </select>
      </div>
	  <div class="form-group">
        <lable>House Facing :</lable>
         <select name= "flat_facing" method="GET" action="/">
            {% for fac in Fac_Uniq %}
               <option value= "{{fac}}" SELECTED>{{fac}}</option>"
            {% endfor %}
         </select>
      </div>
	  <div class="form-group">
		<lable for="inputlaptopname">Address :</lable>
        <select name= "addr" method="GET" action="/">
            {% for addr in addr_Uniq %}
               <option value= "{{addr}}" SELECTED>{{addr}}</option>"
            {% endfor %}
         </select>
      </div>
        
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary" value="submit" onClick="checkform();">Predict</button>
		
    </form>
	<br>
	<form action="{{ url_for('home')}}"method="post">
	  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<button type="submit" class="btn btn-primary">Back to Home</button>
	</form>
   <br>
   <br>
   {{ prediction_text }}
   </div>
 </div>


</body>
</html>