{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
  		<h2>{{ prediction_text }} </h2>
  		<br>
  		<h4>{{ no_of_bed_rooms }} </h4>
  		<h4>{{ sup_area }} </h4>
  		<h4>{{ car_area }} </h4>
  		<h4>{{ house_facing }} </h4>
  		<h4>{{ furn_status }} </h4>
  		<h4>{{ house_addres }} </h4>
  		<br>
    </div>
{% endblock content %}