{% extends 'layout.html' %}

{% block content %}
<div class="formwrapper">
  <h2 class="title">Contact</h2>
  <form method="POST" action="/">
      <div class="form-field">{{ form.name.label }} {{ form.name(size=20) }}</div>
      <div class="form-field">{{ form.email.label }} {{ form.email }}</div>
      <div class="form-field">{{ form.body.label }} {{ form.body }}</div>
      {{ form.submit }}
  </form>
</div>
{% endblock %}
