<!DOCTYPE html>
<html >
<!--From https://codepen.io/frytyler/pen/EGdtg-->
<head>
  <meta charset="UTF-8">
  <title>ML House,Flat and Plot Price Prediction API</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<link rel="stylesheet" href="desi.css">

</head>
<body>

 <div class="container">
   <div class="jumbotron" style="background-color: #4e9fb1;">
        <center><h1>Predict House,Flat and Land/Plot Price Analysis</h1>
		<br>
     <!-- Main Input For Receiving Query to our ML -->
    <form action="{{ url_for('house')}}"method="post">
      <center><button type="submit" class="btn btn-primary">House Price Prediction</button>
    </form>
	<br>
	<br>
	<form action="{{ url_for('flat')}}"method="post">
      <center><button type="submit" class="btn btn-primary">Flat Price Prediction</button>
    </form>
	<br>
	<br>
	<form action="{{ url_for('plot')}}"method="post">
      <center><button type="submit" class="btn btn-primary">Land/Plot Price Prediction</button>
    </form>
	<br>
	<br>
   </div>
 </div>


</body>
</html>