{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
        <h3 style = "text-align: center;">Predict Plot Price Analysis</h3>
        <form method="POST" name = "house_form" action="{{ url_for('plot_predict')}}">
            {{ form.hidden_tag() }}
            <fieldset class="form-group">
                <div class="form-group">
                    {{ form.Soci_Name.label }}
                    {{ form.Soci_Name}}
                </div>
				<div class="form-group">
                    {{ form.Plt_Area.label(class="form-control-label") }}

                    {% if form.Plt_Area.errors %}
                        {{ form.Plt_Area(class="form-control form-control-lg is-invalid") }}
                        <div class="invalid-feedback">
                            {% for error in form.Plt_Area.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                        {{ form.Plt_Area(class="form-control form-control-lg") }}
                    {% endif %}
                </div>
                <div class="form-group">
                    {{ form.Trans_Type.label }}
                    {{ form.Trans_Type}}
                </div>
                <div class="form-group">
                    {{ form.Addrss.label }}
                    {{ form.Addrss}}
                </div>
			</fieldset>
            <div class="form-group">
                {{ form.submit(class="btn btn-outline-info") }}
            </div>
        </form>
    </div>
    <div class="border-top pt-3">
        <small class="text-muted">
            Already Have An Account? <a class="ml-2" href="{{ url_for('login') }}">Sign In</a>
        </small>
    </div>
{% endblock content %}
