{% extends "layout.html" %}
{% block content %}
    <div class="content-section">
		<h2>{{ prediction_text }} </h2>
		<br>
		<h4>{{ proj_name }} </h4>
		<h4>{{ plot_area }} </h4>
		<h4>{{ trans_type }} </h4>
		<h4>{{ plot_addres }} </h4>
		<br>
        
     </div>
{% endblock content %}